name: CI
env:
  APPLICATION_NAME: "MYFlask"
  PACKAGE_NAME    : "flask_deploy_ver-${{ github.sha }}"
on: 
 push:
   branches:
      - main

jobs:
  my_testing:
    runs-on: ubuntu-latest

    steps:
    - name: Print message
      run: echo "Hello, world!"
      
    - name: Execure few commands
      run: |
        echo "hello message"
        echo "Application name: ${{ env.APPLICATION_NAME }}"
  
    - name: List Curent
      run : ls -la

    - name: Git Clone my repo
      uses: actions/checkout@v1
      # git clone repo

    - name: List Curent
      run : ls -la

  my_deploy:
    runs-on: ubuntu-latest
    needs: [my_testing] #делает чтоб кманда запускалась после  
    #  выполения первой команды
    env:
      VAR1 : "This is Job level Vaqriable1"
      VAR2 : "This is Job level Vaqriable2"
    
    - name: Print env vars 
      run : |
       echo "VAR1 = ${{ env.VAR1 }}"
       echo "VAR2 = ${{ env.VAR2 }}"
    
    steps:
    - name: Print message
      run: echo "Hello, world! deploy job"

    - name: Printing Deploy package
      run : echo "Deploy pckage namer is ${{ env.PACKAGE_NAME }}"

    - name: Lets test save package
      run : aws --version
      
    - name: Lets test save package
      run : zip --version
